mixin head()
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(http-equiv="x-ua-compatible" content="ie=edge")
    //- Отключаем панель работы с изображениями
    meta(name='imagetoolbar' content='no')
    //-  Просим IE оформлять все в классическом стиле без учета текущей темы операционки:
    meta(name='msthemecompatible' content='no')
    //- Сглаживание шрифтов для IE
    meta(name='cleartype' content='on')
    //-  Отменяем автоматическое масштабирование на мобильных
    meta(name='HandheldFriendly' content='True')
    //- Отменяем перевод
    meta(name='google' value='notranslate')

    block head
    title= pageTitle || 'Заголовок страницы'

      //- http://bdadam.com/blog/better-webfont-loading-with-localstorage-and-woff2.html
    script.
      function loadFont(a,b,c){function o(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{});return a.load(),"loading"===a.status}var d=navigator.userAgent,e=!window.addEventListener||d.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!d.match(/Chrome/);if(!e){var f={};try{f=localStorage||{}}catch(a){}var g="x-font-"+a,h=g+"url",i=g+"css",j=f[h],k=f[i],l=document.createElement("style");if(l.rel="stylesheet",document.head.appendChild(l),!k||j!==b&&j!==c){var m=c&&o()?c:b,n=new XMLHttpRequest;n.open("GET",m),n.onload=function(){n.status>=200&&n.status<400&&(f[h]=m,f[i]=l.textContent=n.responseText)},n.send()}else l.textContent=k}}
    link(rel="stylesheet", href="css/main.css")